<div class="tw-mt-10 sm:tw-mt-0 tw-text-lg">
  <div>
    <div class="tw-mt-5 md:tw-mt-0 md:tw-col-span-2">
      <form [formGroup]="profileForm" (ngSubmit)="saveProfileData()">
        <div class="tw-shadow tw-overflow-hidden sm:tw-rounded-md tw-border tw-border-yellow-300 tw-rounded-xl tw-bg-[#2a2a2a]">
          <div class="tw-px-4 tw-py-5 sm:tw-p-6">
            <div class="tw-text-center tw-w-full tw-text-yellow-500 tw-text-2xl tw-mb-3">Основная информация</div>
            <div class="tw-grid tw-grid-cols-6 tw-gap-6">
              <div class="tw-col-span-6 sm:tw-col-span-3">
                <label for="firstName" class="tw-block tw-font-medium tw-text-white">Имя</label>
                <input type="text" name="firstName" id="firstName" formControlName="firstName" autocomplete="given-name"
                       class="tw-mt-1 focus:tw-ring-indigo-500 focus:tw-border-indigo-500 tw-block
                       tw-w-full tw-shadow-sm tw-border-gray-300 tw-rounded-md tw-border tw-border-white tw-bg-[#2a2a2a] tw-w-full
                tw-caret-white tw-text-white tw-rounded-md focus:tw-bg-[#2a2a2a]">
                <div *ngIf="profileFormControls['firstName'].touched">
                  <p *ngIf="profileFormControls['firstName'].errors?.['required']"
                     class="tw-text-red-500 tw-mt-2">Имя обязательно для заполнения</p>
                </div>
              </div>

              <div class="tw-col-span-6 sm:tw-col-span-3">
                <label for="last-name" class="tw-block tw-font-medium tw-text-white">Фамилия</label>
                <input type="text" name="last-name" id="last-name" formControlName="lastName" autocomplete="family-name"
                       class="tw-mt-1 focus:tw-ring-indigo-500 focus:tw-border-indigo-500
                        tw-block tw-w-full tw-shadow-sm tw-border-gray-300 tw-rounded-md tw-border tw-border-white tw-bg-[#2a2a2a] tw-w-full
                tw-caret-white tw-text-white tw-rounded-md focus:tw-bg-[#2a2a2a]">
                <div *ngIf="profileFormControls['lastName'].touched">
                  <p *ngIf="profileFormControls['lastName'].errors?.['required']"
                     class="tw-text-red-500 tw-mt-2 tw-text-lg">Фамилия обязательна для заполнения</p>
                </div>
              </div>

              <div class="tw-col-span-6 sm:tw-col-span-4">
                <label for="email-address" class="tw-block tw-font-medium tw-text-white">Email</label>
                <input type="text" name="email-address" id="email-address" formControlName="email" autocomplete="email"
                       class="tw-mt-1 focus:tw-ring-indigo-500 focus:tw-border-indigo-500 tw-block
                       tw-w-full tw-shadow-sm tw-border-gray-300 tw-rounded-md tw-border tw-border-white tw-bg-[#2a2a2a] tw-w-full
                tw-caret-white tw-text-white tw-rounded-md focus:tw-bg-[#2a2a2a]">
                <div *ngIf="profileFormControls['email'].touched">
                  <p *ngIf="profileFormControls['email'].errors?.['email']"
                     class="tw-text-red-500 tw-mt-2 tw-text-lg">Некорректный email</p>
                  <p *ngIf="profileFormControls['email'].errors?.['required']"
                     class="tw-text-red-500 tw-mt-2 tw-text-lg">Email обязателен для заполнения</p>
                </div>
              </div>

              <div class="tw-col-span-6 sm:tw-col-span-6">
                <label for="city" class="tw-block tw-font-medium tw-text-white">Город</label>
                <input formControlName="city" type="text" name="city" id="city" autocomplete="address-level2"
                       class="tw-mt-1 focus:tw-ring-indigo-500 focus:tw-border-indigo-500
                       tw-block tw-w-full tw-shadow-sm tw-border-gray-300 tw-rounded-md tw-border tw-border-white tw-bg-[#2a2a2a] tw-w-full
                tw-caret-white tw-text-white tw-rounded-md focus:tw-bg-[#2a2a2a]">
              </div>

              <div *ngIf="authService.isAdmin()" class="tw-col-span-6 sm:tw-col-span-6">
                <label for="roles" class="tw-block tw-font-medium tw-text-white">Роли</label>
                <p class="tw-mt-2 tw-text-yellow-500">Текущие роли: {{roles}}</p>
                <select multiple formControlName="roles" type="text" name="city" id="roles" autocomplete="address-level2"
                        class="tw-mt-1 focus:tw-ring-indigo-500 focus:tw-border-indigo-500
                       tw-block tw-w-full tw-shadow-sm tw-rounded-md tw-border tw-border-white tw-bg-[#2a2a2a] tw-w-full
                tw-caret-white tw-text-white tw-rounded-md focus:tw-bg-[#2a2a2a]">
                  <option *ngFor="let role of Roles" [selected]="matchRole(role)">{{role}}</option>
                </select>
              </div>

            </div>
          </div>
          <div class="tw-px-4 tw-py-3 tw-text-right sm:tw-px-6">
            <button type="submit" class="tw-inline-flex tw-justify-center
            tw-py-2 tw-px-4 tw-border tw-border-transparent tw-shadow-sm tw-font-medium
             tw-rounded-md tw-text-white tw-bg-indigo-600 hover:tw-bg-indigo-700 focus:tw-outline-none
              focus:tw-ring-2 focus:tw-ring-offset-2 focus:tw-ring-indigo-500">Save</button>
          </div>
        </div>
      </form>
    </div>
    <div class="tw-mt-5 md:tw-col-span-2">
      <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
        <div class="tw-shadow tw-overflow-hidden sm:tw-rounded-md tw-border tw-border-yellow-300 tw-rounded-xl tw-bg-[#2a2a2a]">
          <div class="tw-px-4 tw-py-5 sm:tw-p-6">
            <div class="tw-text-center tw-w-full tw-text-yellow-500 tw-text-2xl tw-my-3">Изменение пароля</div>
            <div class="tw-grid tw-grid-cols-6 tw-gap-6">
              <div class="tw-col-span-6 sm:tw-col-span-6">
                <label for="password" class="tw-block tw-font-medium tw-text-white">Password</label>
                <input formControlName="password" type="password" name="city" id="password"
                       class="tw-mt-1 focus:tw-ring-indigo-500 focus:tw-border-indigo-500
                       tw-block tw-w-full tw-shadow-sm tw-border-gray-300 tw-rounded-md tw-border tw-border-white tw-bg-[#2a2a2a] tw-w-full
                tw-caret-white tw-text-white tw-rounded-md focus:tw-bg-[#2a2a2a]">
                <div *ngIf="passwordFormControls['password'].touched">
                  <p *ngIf="passwordFormControls['password'].errors?.['required']"
                     class="tw-text-red-500 tw-mt-2 tw-text-lg">Пароль не должен быть пустым</p>
                </div>
              </div>
              <div class="tw-col-span-6 sm:tw-col-span-6">
                <label for="repeat-password" class="tw-block tw-font-medium tw-text-white">Repeat password</label>
                <input formControlName="repeatPassword" type="password" name="city" id="repeat-password"
                       class="tw-mt-1 focus:tw-ring-indigo-500 focus:tw-border-indigo-500
                       tw-block tw-w-full tw-shadow-sm tw-border-gray-300 tw-rounded-md tw-border tw-border-white tw-bg-[#2a2a2a] tw-w-full
                tw-caret-white tw-text-white tw-rounded-md focus:tw-bg-[#2a2a2a]">
                <div *ngIf="passwordFormControls['repeatPassword'].touched">
                  <p *ngIf="!matchPasswords()"
                     class="tw-text-red-500 tw-mt-2 tw-text-lg">Пароли не совпадают</p>
                </div>
              </div>
            </div>
          </div>
          <div class="tw-px-4 tw-py-3 tw-text-right sm:tw-px-6">
            <button type="submit" class="tw-inline-flex tw-justify-center
            tw-py-2 tw-px-4 tw-border tw-border-transparent tw-shadow-sm tw-font-medium
             tw-rounded-md tw-text-white tw-bg-indigo-600 hover:tw-bg-indigo-700 focus:tw-outline-none
              focus:tw-ring-2 focus:tw-ring-offset-2 focus:tw-ring-indigo-500">Update password</button>
          </div>
        </div>
      </form>
    </div>
<!--    <div *ngIf="!authService.isAdmin()" class="tw-my-5 md:tw-col-span-2">-->
<!--      <div (click)="delete()" class="tw-text-red-500 tw-text-lg tw-border tw-bg-[#2a2a2a]-->
<!--       tw-border-red-500 tw-p-2 tw-rounded-xl tw-block tw-cursor-pointer hover:tw-scale-105 tw-duration-300">Удалить</div>-->
<!--    </div>-->
    <div *ngIf="roles.indexOf('ADMIN') == -1" class="tw-px-4 tw-py-3 tw-text-right sm:tw-px-6">
      <button (click)="delete()" class="tw-inline-flex tw-justify-center tw-text-red-500
            tw-py-2 tw-px-4 tw-border tw-border-red-500 tw-font-medium
             tw-rounded-xl tw-bg-[#2a2a2a] hover:tw-scale-105 tw-duration-300">Удалить</button>
    </div>
  </div>
</div>
