<div class="tw-min-h-full tw-flex tw-items-center tw-justify-center tw-py-12 tw-px-4 sm:tw-px-6 lg:tw-px-8">
  <div class="tw-max-w-md w-full tw-space-y-8 tw-border tw-border-yellow-300 tw-min-w-[20rem] lg:tw-min-w-[25rem]
   tw-rounded-xl tw-py-4 tw-px-6 tw-bg-[#2a2a2a] tw-shadow-[0_0_60px_-15px_rgba(255,255,255,0.3)]">

    <div>
      <h2 class="tw-mt-6 tw-text-center tw-text-3xl tw-font-extrabold
       tw-text-white">Регистрация</h2>
    </div>

    <form (submit)="signUp()">
      <div class="mb-3">
        <input type="email" [(ngModel)]="userDto.email" placeholder="Email"
               class="tw-border tw-border-white tw-bg-[#2a2a2a] tw-w-full
                tw-caret-white tw-text-white tw-rounded-md" id="email" name="email">
        <p *ngIf="signUpError.emailError !== ''" class="tw-text-red-500">{{signUpError.emailError}}</p>
      </div>
      <div class="mb-3">
        <input type="password" [(ngModel)]="userDto.password" placeholder="Пароль"
               class="tw-border tw-border-white tw-bg-[#2a2a2a] tw-w-full
               tw-caret-white tw-text-white tw-rounded-md" id="password" name="password">
        <p *ngIf="signUpError.passwordError !== ''" class="tw-text-red-500">{{signUpError.passwordError}}</p>
      </div>
      <div class="mb-3">
        <input type="password" [(ngModel)]="repeatPassword" placeholder="Повторите пароль"
               class="tw-border tw-border-white tw-bg-[#2a2a2a] tw-w-full
               tw-caret-white tw-text-white tw-rounded-md" id="matchingPassword" name="matchingPassword">
        <p *ngIf="signUpError.repeatPasswordError !== ''" class="tw-text-red-500">{{signUpError.repeatPasswordError}}</p>
      </div>
      <div class="mb-3">
        <input type="text" [(ngModel)]="userDto.firstName" placeholder="Имя"
               class="tw-border tw-border-white tw-bg-[#2a2a2a] tw-w-full
                tw-caret-white tw-text-white tw-rounded-md" id="firstName" name="firstName">
        <p *ngIf="signUpError.firstNameError !== ''" class="tw-text-red-500">{{signUpError.firstNameError}}</p>
      </div>
      <div class="mb-3">
        <input type="text" [(ngModel)]="userDto.lastName" placeholder="Фамилия"
               class="tw-border tw-border-white tw-bg-[#2a2a2a]
               tw-w-full tw-caret-white tw-text-white tw-rounded-md" id="lastName" name="lastName">
        <p *ngIf="signUpError.lastNameError !== ''" class="tw-text-red-500">{{signUpError.lastNameError}}</p>
      </div>
      <div class="mb-3">
        <input type="text" [(ngModel)]="userDto.city" placeholder="Город"
               class="tw-border tw-border-white tw-bg-[#2a2a2a]
                tw-w-full tw-caret-white tw-text-white tw-rounded-md" id="city" name="city">
      </div>
      <button type="submit" class="tw-block tw-w-full tw-p-3 tw-text-white tw-text-xl tw-rounded-2xl
        tw-bg-green-600 hover:tw-bg-green-700 active:tw-scale-95 tw-rounded-md">Зарегистрировать</button>
    </form>
  </div>
</div>
