<div class="col-md-3 col-xs-12">
  <app-nav-bar (filterApplied)="filterApplied($event)"></app-nav-bar>
</div>
<div>
  <div *ngFor="let product of products" class="col">
    <div class="card">
      <img alt="Card image cap" class="card-img-top" height="200" src="{{product.imageLink}}"
           width="100">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.shopName}}</p>
        <p class="card-text">Price: {{product.price}}</p>
        <a class="btn btn-primary" routerLink="{{product.productLink}}">View</a>
      </div>
    </div>
  </div>
</div>
