<div class="tw-flex tw-flex-col">
  <div class="search-group">
    <input type="text" [(ngModel)]="searchName" (keyup.enter)="search()"
           class="search-field" placeholder="Поиск" data-tid="search-input-field"/>
    <button type="button" (click)="search()" class="search-btn" data-tid="search-button">
      <i class="main-magnifying-glass"></i>
    </button>
  </div>
  <div class="search-sort-panel">
    <div class="search-sort-label">Сортировка:</div>
    <div class="tw-col-span-6 sm:tw-col-auto">
      <select name="sort" id="sort" [value]="currentSort"
              #device (change)="selectionChange(device.value)"
              class="search-sort-select">
        <option *ngFor="let sort of sorts | keyvalue" [value]="sort.key"
                [selected]="sort.key == currentSort">{{sort.value}}</option>
      </select>
    </div>
  </div>
  <mat-spinner *ngIf="isWaiting" [diameter]="64" class="tw-mx-auto tw-mt-3"></mat-spinner>
</div>
<div *ngIf="products.length > 0" class="mt-3">
  <div class="search-result-panel">
    <div class="search-result-grid">
      <app-product-card *ngFor="let product of products;"
                        [product]="product" data-tid="product-card"></app-product-card>
    </div>
  </div>
  <div (click)="nextPage()" class="show-more-btn">Показать еще...</div>
</div>
