<div class="tw-flex tw-flex-col">
  <div class="search-group">
    <input type="text" [(ngModel)]="searchName" (keyup.enter)="search()"
           class="search-field" placeholder="Поиск" data-tid="search-input-field"/>
    <button type="button" (click)="search()" class="search-btn" data-tid="search-button">
      <i class="fa-solid fa-magnifying-glass tw-scale-[1.4] active:tw-scale-[1.2]"></i>
    </button>
  </div>
  <mat-spinner *ngIf="isWaiting" class="tw-mx-auto tw-mt-3" [diameter]="64"></mat-spinner>
</div>
<div *ngIf="products.length > 0" class="mt-3">
  <div class="tw-max-w-2xl tw-mx-auto tw-py-2 tw-px-4 sm:tw-py-8 sm:tw-px-6 lg:tw-max-w-7xl lg:tw-px-8 tw-rounded-lg">
    <div class="tw-grid tw-grid-cols-1 tw-gap-y-10 tw-gap-x-6 sm:tw-grid-cols-2 lg:tw-grid-cols-4 xl:tw-gap-x-8">
      <app-product-card *ngFor="let product of products;" [product]="product" data-tid="product-card"></app-product-card>
    </div>
  </div>
</div>
