.product-card{
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eef8fd),to(#c3e7f8));
}
.product-card:hover {
  cursor: pointer;
  transform: scale(1.01);
  transition: transform 0.25s;
}
